.marked{
    background-color: silver;
    width: 25px;

}
.black-card{
    color: black;
}
.red-card{
    color: red;
}
.fon{
    background-color: rgb(206, 206, 206);
    width: 300px;
    height: 200px;
}