* {
  box-sizing: border-box;
}
body {
  background-color: rgb(1, 66, 68);
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  height: 100%;
}
.list {
  text-align: left;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-size: 2em;
}
a {
  color: white;
  opacity: 0.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
aside {
  margin-top: 6em;
}
.img {
  float: left;
}
.ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.item {
  opacity: 0.5;
}
.list-item {
  padding-left: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.list {
  width: 100%;
}
.nav {
  margin-bottom: 3em;
}
@media (max-width: 550px) {
  img {
    content: url("/account.png");
    width: 80px;
    height: 80px;
  }

  .list {
    font-size: 1.5em;
  }
}
