
* {
  box-sizing: border-box;
}
body {
  background-color: rgb(1, 66, 68);
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  height: 100%;
}
.list {
  text-align: left;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 20px;
  font-size: 48px;
}
a, th {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.img {
  float: left;
}
table {
  border-collapse: collapse;
  margin-left: 25px;
}

th,
td {
  padding-left: 20px;
}
a, tr:first-child {
  opacity: 0.5;
}

.list{
  width: 100%;
}
@media screen {
  .aside {
   
  }
  .list{
     display: flex;
    font-size: 36px;
  }
  .img{
    display: flex;
  }
tr, td::nth-child(2n){
  
  flex-wrap: wrap;
}
}