* {
  box-sizing: border-box;
}
body {
  width: 80%;
  height: 400px;
}
header {
  background-color: darkblue;
  color: white;
  display: block;
  float: top;
  margin: 0;
}
.boards {
  display: grid;
  align-content: center;
  grid-template-columns: 30% 30% 30%;
  height: 100%;
  background-color: cadetblue;
  margin-top: 0;
}
.ToDo {
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
.bord {
  background-color: grey;
  border-radius: 5px;
  margin: 5px;
}
.pic {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    font-size: 12px;
  }
  .pic> img:nth-child(8) {
      grid-column: 8;
      margin-left: auto;
    }
  img {
    padding-left: auto;
  }
  .pic2 {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      font-size: 12px;
    }
   
  .pic2 > img:nth-child(6) {
    grid-column: 8;
    margin-left: auto;
  }  
.bord2 {
  overflow-y: scroll;
}
h3 {
  margin: 0;
  height: 50px;
  padding: 15px;
  padding-left: 25px;
}
